__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.nyc_output
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info/
.tox
.venv
venv/
.DS_Store
test-setup.js
README-npx.md